[Unit]
Description=Keep the X clipboard and the cutbuffer in sync
StartLimitIntervalSec=0

[Service]
Type=forking
RestartSec=3
Restart=always
SyslogIdentifier=autocutsel
ExecStart=/usr/bin/env autocutsel -f -s CLIPBOARD
ExecStartPre=/usr/bin/env autocutsel -f -s PRIMARY

[Install]
WantedBy=default.target
