[Unit]
Description=Keep the X clipboard and the cutbuffer in sync
StartLimitIntervalSec=0

[Service]
Type=forking
RestartSec=3
Restart=always
SyslogIdentifier=autocutsel
ExecStartPre=/usr/bin/env autocutsel -fork -selection PRIMARY
ExecStart=/usr/bin/env autocutsel -fork -selection CLIPBOARD
MemoryHigh=3M
MemoryMax=5M

[Install]
WantedBy=default.target
