[Unit]
Description=Copyq server
StartLimitIntervalSec=0

[Service]
Type=simple
RestartSec=3
Restart=always
SyslogIdentifier=copyq
ExecStart=/usr/bin/env copyq

[Install]
WantedBy=default.target
