[Unit]
Description=Copyq server

[Service]
Type=simple
ExecStart=/usr/bin/env copyq
Restart=always
RestartSec=5s
SyslogIdentifier=copyq

[Install]
WantedBy=default.target
