[Unit]
Description=Execute events on kernel usb events
StartLimitIntervalSec=0

[Service]
Type=simple
RestartSec=3
Restart=always
SyslogIdentifier=events-usb
ExecStart=/usr/bin/env sh -c 'udevadm monitor | while read; do grep -m1 -q "(usb)" && %h/.local/bin/scripts/events-usb; done'

[Install]
WantedBy=default.target
