[Unit]
Description=Screenshot tool

[Service]
Type=simple
ExecStart=/usr/bin/env flameshot
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
