[Unit]
Description=Screenshot tool
StartLimitIntervalSec=0

[Service]
Type=simple
RestartSec=3
Restart=always
SyslogIdentifier=flameshot
ExecStart=/usr/bin/env flameshot

[Install]
WantedBy=default.target
