[Unit]
Description=Plank
StartLimitIntervalSec=0

[Service]
Type=simple
RestartSec=1
Restart=always
KillMode=process
SyslogIdentifier=plank
ExecStart=/usr/bin/env plank
Environment=XDG_SESSION_TYPE=X11

[Install]
WantedBy=default.target
