[Unit]
Description=Redshift
StartLimitBurst=5
StartLimitIntervalSec=600


[Service]
Type=simple
RestartSec=3
Restart=always
SyslogIdentifier=redshift
ExecStart=/usr/bin/env redshift

[Install]
WantedBy=default.target
