[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
StartLimitIntervalSec=0

[Service]
IOWeight=60
CPUQuota=60%
RestartSec=3
Restart=always
SyslogIdentifier=syncthing
ExecStart=/usr/bin/env syncthing -no-browser -no-restart -logflags=0

[Install]
WantedBy=default.target
