[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
After=network.target

[Service]
ExecStart=/usr/bin/env syncthing -no-browser -no-restart -logflags=0
Restart=always
RestartSec=5s
SyslogIdentifier=syncthing
CPUQuota=60%
IOWeight=60

# Hardening
ProtectSystem=full
PrivateTmp=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
