[Unit]
Description=Hide mouse on idle

[Service]
Type=simple
ExecStart=/usr/bin/env unclutter --timeout 1
Restart=always
RestartSec=5s
SyslogIdentifier=unclutter

[Install]
WantedBy=default.target
