[Unit]
Description=Hide mouse on idle
StartLimitIntervalSec=0

[Service]
Type=simple
RestartSec=3
Restart=always
SyslogIdentifier=unclutter
ExecStart=/usr/bin/env unclutter -idle 1 -grab

[Install]
WantedBy=default.target
