[Unit]
Description=Hide mouse on idle
StartLimitBurst=5
StartLimitIntervalSec=600

[Service]
Type=simple
RestartSec=3
Restart=always
SyslogIdentifier=unclutter
ExecStart=/usr/bin/env unclutter -idle 1

[Install]
WantedBy=default.target
