[Unit]
Description=Workout notifications

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/env sh -c 'workout-notify'
SyslogIdentifier=workout-notify
