[Unit]
Description=Restart x11vnc after resume

[Service]
Type=simple
ExecStart=/usr/bin/env sh -c 'dbus-monitor --system | while read; do grep -q 'post-resume.target' && systemctl --user restart x11vnc; done'
SyslogIdentifier=x11vnc-resume

[Install]
WantedBy=default.target
