[Unit]
Description=Remote desktop service (VNC)
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/env x11vnc -display :0 -rfbport 5900 -usepw -nowf -norepeat -forever -noxrecord -auth $XAUTHORITY
Restart=always
RestartSec=1s
SyslogIdentifier=x11vnc

[Install]
WantedBy=default.target
