[Unit]
Description=Keyboard shortcut binder

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=xbindkeys -p -n
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
