[Unit]
Description=Keyboard shortcut binder

[Service]
Type=simple
ExecStart=/usr/bin/env xbindkeys -f %h/.config/xbindkeysrc -p -n
Restart=always
RestartSec=5s
KillMode=process

[Install]
WantedBy=default.target
