[Unit]
Description=Keyboard shortcut binder

[Service]
Type=simple
RestartSec=5s
Restart=always
KillMode=process
SyslogIdentifier=xbindkeys
ExecStart=/usr/bin/env bash -l -c 'xbindkeys -f %h/.config/xbindkeysrc -p -n'

[Install]
WantedBy=default.target
