! -----------------
! URxvt Settings
! -----------------

URxvt.perl-ext-common: default,matcher,font-size,tabbed,vtwheel,url-select,keyboard-select
URxvt.url-launcher: /usr/bin/firefox

URxvt.matcher.button: 1
URxvt.cursorUnderline: 1
URxvt.cursorBlink: 1
URxvt.internalBorder: 10
URxvt.geometry: 74x20

URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-m: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/firefox

URxvt*font: xft:mono:size=10
URxvt.boldFont: xft:mono:size=10
URxvt.italicFont: xft:mono:size=10
URxvt.boldItalicFont: xft:mono:size=10

URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease

URxvt.scrollBar: false
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

URxvt.transparent: false
URxvt.shading: 20

URxvt.foreground: #FFFFFF
URxvt.background: #2C303C
URxvt.colorUL: #66A9B9

! -----------------
! Terminal Colors
! -----------------

!black
*color0:  #2C303C
*color8:  #666666

!red
*color1:  #E84F4F
*color9:  #FF3838

!green
*color2:  #BEFF3E
*color10: #CFFF72

!yellow
*color3:  #FEA63C
*color11: #FFDF23

!blue
*color4:  #69AEFF
*color12: #5AA5FF

!magenta
*color5:  #B7416E
*color13: #E16A98

!cyan
*color6:  #69AEFF
*color14: #8B8B8B

!white
*color7:  #FFFFFF
*color15: #FFFFFF

! -----------------
! Font Settings
! -----------------

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! -----------------
! ROFI Settings
! -----------------

rofi.color-enabled: true
rofi.fake-transparency: true
rofi.disable-history: false
rofi.hide-scrollbar: true
rofi.separator-style: none
rofi.bw: 0

rofi.color-window: argb:cc222222, #FAC863, #FAC863
rofi.color-normal: argb:00000000, #FFFFFF, argb:00000000, #FAC863, #1B2B34
rofi.color-active: argb:00000000, #FFFFFF, argb:00000000, #6699CC, #1B2B34
rofi.color-urgent: argb:00000000, #F99157, argb:00000000, #F99157, #1B2B34

! -----------------
! DMENU Settings
! -----------------

dmenu.font: xft:Ubuntu:pixelsize=10:style=bold
dmenu.background: #000000
dmenu.foreground: #FFFFFF
dmenu.selforeground: #000000
dmenu.selbackground: #1B99EC
