URxvt.scrollBar: false
URxvt*font:  -Misc-Fixed-Medium-R-Semicondensed-*-12-110-75-75-C-60-ISO10646-1
URxvt*boldFont: -Misc-Fixed-Medium-R-Semicondensed-*-12-110-75-75-C-60-ISO10646-1
URxvt.perl-ext-common: default,matcher,tabbed,vtwheel
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.cursorUnderline: 1

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt*foreground: #FFFFFF
URxvt*background: #171717
URxvt.colorUL: #66A9B9

URxvt.transparent:   false
URxvt.shading:       20

!black
*color0: #222222
*color8: #666666

!red
*color1: #E84F4F
*color9: #D23D3D

!green
*color2: #B7CE42
*color10: #BDE077

!yellow
*color3: #FEA63C
*color11: #FFE863

!blue
*color4: #66A9B9
*color12: #AACCBB

!magenta
*color5: #B7416E
*color13: #E16A98

!cyan
*color6: #6D878D
*color14: #42717B

!white
*color7: #CCCCCC
*color15: #FFFFFF

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! -----------------
! ROFI Color theme
! -----------------
rofi.color-enabled: true
rofi.color-normal: argb:00000000, #FFFFFF, argb:00000000, #FAC863, #1B2B34
rofi.color-urgent: argb:00000000, #F99157, argb:00000000, #F99157, #1B2B34
rofi.color-active: argb:00000000, #FFFFFF, argb:00000000, #6699CC, #1B2B34
rofi.color-window: argb:ee222222, #FAC863, #FAC863
