/* Hide top tab bar in Firefox Quantum. */
@-moz-document url("chrome://browser/content/browser.xhtml") {
  #TabsToolbar {
    visibility: collapse !important;
    margin-bottom: 21px !important;
  }
}

/* Hide autocomplete results dropdown. */
.urlbarView {
  display: none !important;
}

/* Hide sidebar header. */
#sidebar-header {
  display: none !important;
}

/* Hide sidebar splitter. */
#sidebar-splitter {
  display: none !important;
}
