/* Disable animations. */
* {
  animation-delay: 0ms !important;
  transition-delay: 0ms !important;
  animation-duration: 0.00000001ms !important;
  transition-duration: 0.00000001ms !important;
}

/* Hide top tab bar. */
@-moz-document url("chrome://browser/content/browser.xhtml") {
  #TabsToolbar {
    visibility: collapse !important;
    margin-bottom: 21px !important;
  }
}

#urlbar-searchmode-switcher { visibility: hidden; width: 0; }

.urlbarView,                              /* Autocomplete results dropdown. */
#sidebar-header,                          /* Sidebar heading. */
#sidebar-splitter,                        /* Sidebar split. */
#sidebarRevampSeparator,                  /* Vertical tabs context menu separator. */
#toolbar-context-toggle-vertical-tabs {   /* Vertical tabs context menu button. */
  display: none !important;
}

panel, menupopup { border: 1px solid !important; }  /* Add border width to context menus */

/*
 * Reduce expanding urlbar.
 * Source: https://github.com/WesleyBranton/Remove-Firefox-Megabar#readme
 * Licence: MPL | https://www.mozilla.org/en-US/MPL/2.0/
 */

@-moz-document url(chrome://browser/content/browser.xhtml) {
  #urlbar[breakout][breakout-extend] > #urlbar-input-container,
  #urlbar-input-container {
    height: 26px !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
    transition: none !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
  }

  #urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
  }

  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
    border: 1px solid var(--toolbar-field-focus-border-color) !important;
  }

  #urlbar[breakout][breakout-extend][open] > #urlbar-input-container {
    border-bottom: 1px solid transparent !important;
    border-radius: var(--toolbarbutton-border-radius) var(--toolbarbutton-border-radius) 0 0 !important;
  }
}

/*************************************************************************/
